.clock {
    width: 300px;
    height: 300px;
    border: 10px solid #333;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
    background: #fff;
}

.numbers {
    position: absolute;
    width: 100%;
    height: 100%;
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    transform: rotate(calc(30deg * var(--i)));
}

.number div {
    transform: rotate(calc(-30deg * var(--i)));
}

.hour-hand, .minute-hand, .second-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background: #333;
}

.hour-hand {
    width: 8px;
    height: 80px;
    margin-left: -4px;
    background: #333;
}

.minute-hand {
    width: 6px;
    height: 100px;
    margin-left: -3px;
    background: #666;
}

.second-hand {
    width: 2px;
    height: 120px;
    margin-left: -1px;
    background: red;
}

.center {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}